Include config.d/*

Host github.com
  AddKeysToAgent yes
  Hostname github.com
  IdentityFile ~/.ssh/id_{{ username }}
  User git

Host bitbucket.org
  AddKeysToAgent yes
  Hostname bitbucket.org
  IdentityFile ~/.ssh/id_{{ username }}
  User git
