[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/home/evgnomon/.cache/blueprint/idea/tar.gz_/idea_{{pkg_versions.idea.version}}/idea-IC-{{pkg_versions.idea.version_full}}/bin/idea.svg
Exec=/home/evgnomon/.local/bin/idea %f
Comment=Integrated Development Environment
Categories=Development;IDE;
Terminal=false
StartupWMClass=idea
