---

- template:
    src: config.yaml.j2
    dest: "{{home}}/.config/goose/config.yaml"
  name: Generate Goose configuration file

- file:
    state: link
    src: "{{ target_home }}/src/github.com/evgnomon/recipes"
    dest: "{{ target_home }}/.config/goose/recipes"
