{% if wsl_runner and ansible_os_family != "Windows" %}
set -ax PATH '/mnt/c/Program Files/OpenSSH/'
set -ax PATH '/mnt/c/Program Files/Vim/vim91'
set -ax PATH '/mnt/c/Program Files/Alacritty/'
set -ax PATH '/mnt/c/Windows/system32'
set -ax PATH '/mnt/c/Windows'
set -ax PATH '/mnt/c/Windows/System32/Wbem'
set -ax PATH '/mnt/c/Program Files/usbipd-win/'
set -ax PATH '/mnt/c/Program Files/Git/cmd'
set -ax PATH '/mnt/c/Program Files/Rust stable MSVC 1.80/bin'
set -ax PATH '/mnt/c/Program Files/Go/bin'
set -ax PATH '/mnt/c/Program Files/dotnet/'
set -ax PATH '/mnt/c/Program Files (x86)/gnupg/bin'
set -ax PATH '/mnt/c/Program Files/PowerShell/7/'
set -ax PATH '/mnt/c/Program Files/RedHat/Podman/'
set -ax PATH '/mnt/c/Users/HamedGhasemzadeh/AppData/Local/Programs/Python/Python312/Scripts/'
set -ax PATH '/mnt/c/Users/HamedGhasemzadeh/AppData/Local/Programs/Python/Python312/'
set -ax PATH '/mnt/c/Users/HamedGhasemzadeh/.cargo/bin'
set -ax PATH '/mnt/c/Users/HamedGhasemzadeh/AppData/Local/Programs/Python/Launcher/'
set -ax PATH '/mnt/c/Users/HamedGhasemzadeh/AppData/Local/Microsoft/WindowsApps'
set -ax PATH '/mnt/c/Users/HamedGhasemzadeh/go/bin'
set -ax PATH '/mnt/c/Users/HamedGhasemzadeh/AppData/Local/Microsoft/WinGet/Links'
set -ax PATH '/mnt/c/Users/HamedGhasemzadeh/AppData/Local/Programs/Microsoft VS Code/bin'
{% endif %}
