[general]
import = [
    "~/.config/alacritty/themes/themes/gruvbox_dark.toml",
    "{{ blueprint_config_dir }}/configs/alacritty/alacritty.toml"
]

[font]
{% if ansible_os_family == "Darwin" %}
size = 18
{% else %}
size = 14
{% endif %}

{% if ansible_os_family != "Windows" %}
[font.bold]
family = "{{ default_font_family }}"
style = "Bold"

[font.bold_italic]
family = "{{ default_font_family }}"
style = "Bold Italic"

[font.italic]
family = "{{ default_font_family }}"
style = "Italic"

[font.normal]
family = "{{ default_font_family }}"
style = "Regular"
{% endif %}

[terminal.shell]
{% if ansible_os_family == "Debian" %}
args = ["--login"]
program = "/bin/bash"
{% endif %}
{% if ansible_os_family == "Windows" %}
program = "wsl"
args = ["~", "-e", "/usr/bin/bash"]
{% endif %}
{% if ansible_os_family == "Darwin" %}
args = ["--login"]
program = "{{ blueprint_user_home }}/.macports/bin/bash"
{% endif %}

[window]
startup_mode = "Fullscreen"

# Work with displays with different DPIs and Resolutions
[window.dimensions]
columns = 140
lines = 60

[keyboard]
{% if ansible_os_family == "Darwin" %}
[[keyboard.bindings]]
key = "Return"
mods = "Control"
action = "ToggleSimpleFullscreen"

{% endif %}
[[keyboard.bindings]]
key = "C"
mods = "Control|Shift"
action = "Copy"

[[keyboard.bindings]]
key = "V"
mods = "Control|Shift"
action = "Paste"
