[font]
size = 16

{% if ansible_os_family != "Windows" %}
[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"
{% endif %}

[shell]
{% if ansible_os_family != "Windows" %}
args = ["--login"]
{% endif %}
{% if ansible_os_family == "Windows" %}
program = "wsl"
args = ["~", "-e", "{{ wsl_user_home }}/.local/bin/fish"]
{% endif %}

# Work with displays with different DPIs and Resolutions
[window.dimensions]
columns = 140
lines = 60

{% if ansible_os_family == "Darwin" %}
[[keyboard.bindings]]
key = "Return"
mods = "Command"
action = "ToggleSimpleFullscreen"
{% endif %}
