[font]
{% if ansible_os_family == "Darwin" %}
size = 20
{% else %}
size = 16
{% endif %}

{% if ansible_os_family != "Windows" %}
[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"
{% endif %}

[shell]
{% if ansible_os_family == "Debian" %}
args = ["--login"]
program = "{{ blueprint_user_home }}/.local/bin/fish"
{% endif %}
{% if ansible_os_family == "Windows" %}
program = "wsl"
args = ["~", "-e", "{{ wsl_user_home }}/.local/bin/fish"]
{% endif %}
{% if ansible_os_family == "Darwin" %}
args = ["--login"]
program = "{{ blueprint_user_home }}/.macports/bin/fish"
{% endif %}

# Work with displays with different DPIs and Resolutions
[window.dimensions]
columns = 140
lines = 60

[keyboard]
{% if ansible_os_family == "Darwin" %}
[[keyboard.bindings]]
key = "Return"
mods = "Control"
action = "ToggleSimpleFullscreen"

{% endif %}
[[keyboard.bindings]]
key = "C"
mods = "Control|Shift"
action = "Copy"

[[keyboard.bindings]]
key = "V"
mods = "Control|Shift"
action = "Paste"
