[Desktop Entry]
Type=Application
TryExec={{ ansible_env.HOME }}/.cargo/bin/alacritty
Exec={{ ansible_env.HOME }}/.cargo/bin/alacritty
Icon={{ ansible_env.HOME }}/.config/blueprint/alacritty/alacritty-term.svg
Terminal=false
Categories=System;TerminalEmulator;

Name=Alacritty
GenericName=Terminal
Comment=A fast, cross-platform, OpenGL terminal emulator
StartupWMClass=Alacritty
Actions=New;

X-Desktop-File-Install-Version=0.26

[Desktop Action New]
Name=New Terminal
Exec={{ ansible_env.HOME }}/.cargo/bin/alacritty

