command = /bin/bash
theme = Gruvbox Dark
font-family = "CaskaydiaMono NFM"
font-size = 14
cursor-style = block
shell-integration-features = no-cursor
cursor-style-blink = false
mouse-scroll-multiplier = 0.5
window-padding-x = 500
window-padding-y = 0
window-padding-balance = true
