[font]
size = 16

[font.bold]
family = "JetBrainsMono Nerd Font"
style = "Bold"

[font.bold_italic]
family = "JetBrainsMono Nerd Font"
style = "Bold Italic"

[font.italic]
family = "JetBrainsMono Nerd Font"
style = "Italic"

[font.normal]
family = "JetBrainsMono Nerd Font"
style = "Regular"

[shell]
args = ["--login"]
program = "{{ fish_bin_prefix }}/fish"

# This is problematic in Ubuntu using multiple monitors with different sizes
# [window.dimensions]
# columns = 140
# lines = 60

{% if ansible_distribution == "Darwin" %}
[[keyboard.bindings]]
key = "Return"
mods = "Command"
action = "ToggleSimpleFullscreen"
{% endif %}
